.article__list {
    &--container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-template-rows: auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        list-style: none;
        padding: 0;
        margin: 0;
    }
}