:root {
  --nav-size: 60px;
  --speed: 0.3s;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: var(--shadow-light);
  height: var(--nav-size);

  .container {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    &--img {
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--embeded {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    &--input {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-left: auto;
      max-width: 500px;
      padding: 0 30px;
      margin: 0 auto;
      width: 100%;
      position: relative;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__icon {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: var(--color-primary);
    fill: #fff;
    padding: 3px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
    cursor: pointer;

    &:hover {
      background: var(--color-primary-light);
      box-shadow: var(--shadow-dark);
    }
  }
}

.search__dropdown {
  right: 30px !important;
  left: 30px !important;
  max-width: 480px !important;
}

.dropdown {
  position: absolute;
  z-index: 10;
  top: 58px;
  right: 20px;
  width: 100%;
  max-width: 280px;
  background: #fff;
  border: var(--border);
  border-radius: 0px;
  box-shadow: var(--shadow-dark);
  padding: 10px;
  overflow: hidden;
  transition: all var(--speed) ease;

  &__search {
    padding: 10px 0;
    height: 35px;

    &.dropdown__item {
      height: unset;
    }

    &:hover {
      background: transparent !important;
    }

    .search {
      height: 100%;
      width: 100%;

      &__controller {
        height: 100%;
        width: 100%;
        border-radius: 0px;
      }

      &__input {
        height: 40px;
        width: 100%;
      }
    }
  }

  &__input {
    position: absolute;
    top: 58px;
    width: 100%;
    max-width: 260px;
    width: 100%;
    background: #fff;
    border: var(--border);
    box-shadow: var(--shadow-light);
    border-radius: 0px;
    padding: 10px;
    overflow: hidden;
    transition: all 0.3s ease;

    .btn__primary {
      width: 100%;
      margin: 0;
      margin-top: 10px;
    }
  }

  &__primary {
    &-enter {
      position: absolute;
      transform: translateX(-110%);
      &-active {
        transform: translate(0%);
        transition: all var(--speed) ease;
      }
    }

    &-exit {
      position: absolute;
      &-active {
        transition: all var(--speed) ease;
        transform: translateX(-110%);
      }
    }
  }

  &__secondary {
    &-enter {
      transform: translateX(110%);
      &-active {
        transform: translate(0%);
        transition: all var(--speed) ease;
      }
    }

    &-exit {
      &-active {
        transition: all var(--speed) ease;
        transform: translateX(110%);
      }
    }
  }

  &__item {
    height: 30px;
    font-size: 15px;
    font-family: var(--secondary-font);
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 0px;
    transition: all 0.3s;
    padding: 5px 10px;
    color: var(--color-main);
    cursor: pointer;

    &:hover {
      background: var(--color-primary);
      color: #fff;
    }

    &.danger {
      color: var(--color-warn-dark);
      transition: all 0.3s;

      &:hover {
        background: var(--color-warn-dark);
        color: #fff;
      }
    }
  }

  &__title {
    background: var(--color-grey-light);
    list-style: none;
    margin-bottom: 10px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    &--text {
      padding: 0;
      margin: 0 0 2px;
      font-family: var(--primary-font);
      color: var(--color-main);
      font-size: 15px;
      line-height: 1;
    }

    &--btn {
      padding: 2px 5px;
      margin: 0;
      box-shadow: var(--shadow-light);
      background: #fff;
      font-family: var(--secondary-font);
      color: var(--color-light);
      border: 1px solid;
      display: flex;
      font-size: 12px;
      border-radius: 3px;
      border-color: var(--color-grey-border);
      transition: all 0.3s;

      &:hover {
        background: var(--color-light);
        color: var(--color-main);
      }
    }
  }

  &__container {
    border-bottom: 1px solid;
    border-bottom-color: var(--color-grey-border);
  }

  &__list {
    display: block;
    padding: 0;
  }

  &__item--preview {
    list-style: none;
  }

  &__trend {

    &--preview {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 5px 2px 5px;
      border-bottom: 1px solid;
      border-bottom-color: transparent;
      transition: all .3s ease-in;

      &:hover {
        border-bottom: 1px solid;
        border-bottom-color: var(--color-grey-border);
        background: var(--color-grey-light);
      }
    }

    &--text {
      padding: 0;
      margin: 0;
      font-family: var(--secondary-font);
      color: var(--color-main);
      font-size: 15px;
      text-transform: capitalize;
    }
  }

  &__preview {
    padding: 2px;
    border-bottom: 1px solid;
    border-bottom-color: transparent;
    transition: all .3s ease-in;

    &--container {
      padding: 5px 0 5px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    &--img {
      display: flex;
      align-items: center;

      &--img {
        height: 50px;
        width: 50px;
        border-radius: 3px;
      }

      &--img1 {
        height: 50px;
        width: 50px;
      }
    }

    &--body {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      justify-content: center;
      flex: 1;
      padding: 0 20px;
    }

    &--title {
      padding: 0;
      margin: 0 0 2px;
      font-family: var(--primary-font);
      color: var(--color-main);
      font-size: 15px;
      line-height: 1;
    }

    &--text {
      padding: 0;
      margin: 0;
      font-family: var(--secondary-font);
      color: var(--color-light);
      font-size: 10px;
    }

    &--action {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      height: 100%;
    }

    &:hover {
      border-bottom: 1px solid;
      border-bottom-color: var(--color-grey-border);
      background: var(--color-grey-light);
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .navbar {
    &__item {
      &--input {
        display: none;
      }
    }
  }
}
