.profile__preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: all .3s ease-in;

  &--container {
    padding: 10px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
  }

  &--img {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &--img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
  }

  &--body {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
  }

  &--title {
    padding: 0;
    margin: 0;
    font-family: var(--primary-font);
    font-size: 15px;
    color: var(--color-main);
  }

  &--text {
    padding: 0;
    margin: 0;
    text-align: left;
    font-family: var(--secondary-font);
    font-size: 12px;
    color: var(--color-light);
  }

  &--type {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &--container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }

  &--button {
    padding: 1px 5px;
    border-radius: 3px;
    background: var(--color-third);
    color: var(--color-white);
    margin: 0 0 5px;
    font-family: var(--secondary-font);
    font-size: 10px;
    box-shadow: var(--shadow-light);
  }
}
