.list {
  &__preview {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    &--list {
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      grid-row-gap: 20px;
      grid-column-gap: 20px;
      grid-auto-rows: 1fr;
    }

    &--item {
      border-radius: 6px;
      background: #fff;
      list-style: none;
      margin: 0;
      padding: 0;
      transition: all .3s;
      display: flex;

      &:hover {
          box-shadow: var(--shadow-dark);
      }
    }

    &--header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid;
      border-bottom-color: var(--color-grey-border);
      padding: 0 0 5px;
    }

    &--main {
    }

    &--title {
      padding: 0;
      margin: 0 0 5px;
      font-family: var(--primary-font);
      font-size: 15px;
      color: var(--color-main);
      text-align: left;
    }

    &--text {
      padding: 0;
      margin: 0;
      font-family: var(--secondary-font);
      font-size: 12px;
      color: var(--color-light);
      text-align: left;
    }

    &--type {
        margin: 0 0 0 5px;
    }

    &--icon {
      height: 20px;
      width: 20px;
      margin-right: 10px;
      fill: var(--color-icon);
    }

    &--body {
        display: flex;
        align-items: center;
    }

    &--footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 10px 0 0;
        margin: 0;
    }

    &--img {
        height: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: var(--shadow-light);
        margin: 0;
        padding: 0;
    }

    &--user {
        padding: 0;
        margin: 0 5px 0;
        font-family: var(--secondary-font);
        font-size: 13px;
        color: var(--color-main);
        text-align: left;
    }
  }
}
