.profile__user {
    
    &--container {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        box-shadow: var(--shadow-light);
    }

    &--title {
        padding: 0;
        margin: 0;
        font-family: var(--primary-font);
        font-size: 15px;
        color: var(--color-main);
    }

    &--text {
        padding: 0;
        margin: 0;
        font-family: var(--secondary-font);
        font-size: 12px;
        color: var(--color-light);
    }
    
    &--light {
        color: var(--color-white);
        text-align: left;
        text-transform: capitalize;
    }

    &--icon {
        height: 20px;
        width: 20px;
        margin-right: 10px;
        fill: var(--color-icon);
    }

    &--link {
        padding: 0;
        margin: 0;
        font-family: var(--secondary-font);
        font-size: 12px;
        color: var(--color-primary);
        text-decoration: none;
        cursor: pointer;
    }


    &--user {
        &--img {
        }

        &--details {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
        }

        &--bio {
        }

        &--verified {
            p {
                padding: 1px 5px;
                border-radius: 3px;
                background: var(--color-third);
                color: var(--color-white);
                margin: 0;
                font-family: var(--secondary-font);
                font-size: 10px;
                box-shadow: var(--shadow-light);
            }
        }
    }
    &--body {
        flex: 1;
        background: var(--color-white);
        border: 1px solid;
        border-color: var(--color-grey-border);


        &--head {
            border-bottom: 1px solid;
            border-bottom-color: var(--color-grey-border);
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        &--container {
            border-right: 1px solid;
            border-right-color: var(--color-grey-border);
            display: block;
            width: 100%;
            padding: 10px 0;
            transition: all .3s ease-in;

            &:last-of-type {
                border-right: unset;
                border-right-color: unset;
            }

            &:hover {
                background: var(--color-grey-light);
            }
        }

        &--content {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;

            div {
                display: flex;
                align-items: center;
                margin: 5px 0;
            }
        }
    }
}