.article__page {
  max-width: 800px;
  padding-top: 80px;
  margin: auto;

  &--body {
    max-width: 800px;
    margin: auto
  }
  &--details {

    &--main {
        margin: 0 0 10px !important;
    }
  }

  &--banner {
  }

  &--container {
  }

  &--heading {
    text-align: left;
    padding: 0;
    margin: 0 0 25px;
    font-family: var(--primary-font);
    color: var(--color-main);
    font-size: 40px !important;
    text-transform: capitalize;
    letter-spacing: 1;
    line-height: 1;
  }

  &--text, &--details--main {
    text-align: left;
    padding: 0;
    margin: 0;
    font-family: var(--secondary-font);
    color: var(--color-light);
    font-size: 12px;
    line-height: 1.5;
    margin: 0 0 20px;
  }

  &--image {
    margin: 0 50px;

    &--img {
        width: 100%;

    }
  }

  &--content p {
    text-align: left;
    padding: 0;
    margin: 0;
    font-family: var(--secondary-font);
    color: var(--color-light);
    font-size: 12px;
    line-height: 1.5;
    margin: 0 0 20px;
  }

  &--tags {
    margin-bottom: 20px;
    padding-top: 20px;

    &--list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
    }

    &--item {
        margin-right: 5px;
        padding: 2px 10px;
        border-radius: 50px;
        box-shadow: var(--shadow-light);
        border: 1px solid;
        border-color: var(--color-primary);
        background: var(--color-primary);
        color: var(--color-white);
        text-transform: capitalize;
        font-family: var(--secondary-font);
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all .3s ease-in;

        &:hover {
            background: var(--color-primary-light);
        }
    }
  }

  &--comments {
    .container {
      padding-top: 0;
    }
  }
}
