.like__article {

    &--button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;

        &.liked {

        }

        &.unlike {
            
        }
    }

    &--icon {
        height: 20px;
        width: 20px;
        margin-right: 5px;
        fill: var(--color-icon);

        &.liked {
            fill: var(--color-primary);
        }

        &.unlike {

        }
    }

    &--text {
        padding: 5px 0 0;
        margin: 0;
        font-family: var(--secondary-font);
        font-size: 12px;
        color: var(--color-light); 
    }
}