html {
  padding: 0;
  margin: 0;
  background: var(--color-grey-light);
}

body {
  font-weight: 400;
  line-height: 1.6;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: var(--secondary-font);
  overflow-y: scroll;
  background: var(--color-grey-light);
}

.container {
  max-width: unset;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 20px;

  &__nav {
    margin: 0 auto;
    padding: 20px;
  }

  &__article {
    max-width: 900px;
  }
}

a {
  text-decoration: none !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
