.form {
  padding: 30px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-light);
  background: var(--color-white);
  max-width: 600px;
  margin: auto;

  &__login {
    .form {
      &__head {
        background: var(--color-secondary-dark);
      }

      &__container {
        background: var(--color-secondary);
      }
    }
  }

  &__signup {
    .form {
      &__head {
        background: var(--color-third-dark);
      }

      &__container {
        background: var(--color-third);
      }
    }
  }

  &__settings {
    justify-content: flex-start;
    width: 100%;

    &--controller {
      flex: 1;
      margin: 10px 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      padding-bottom: 10px;
    }

    &--img {
      height: 180px;
      width: 180px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      border: 5px solid;
      border-color: var(--color-primary);
      transition: all 0.3s ease-in;
      cursor: pointer;
      margin: auto;

      &:hover {
        border-color: var(--color-primary-light);
      }

      &--img {
        display: block;
        max-width: 300px;
        width: 100%;
        height: auto;
      }
    }

    &--title {
      padding: 0 0 5px;
      margin: 0;
      font-family: var(--primary-font);
      color: var(--color-main);
      font-size: 15px;
      flex: 0 0 100%;
      text-align: left;
    }

    &--text {
      padding: 10px 0 0;
      margin: 0;
      font-family: var(--secondary-font);
      color: var(--color-icon);
      font-size: 12px;
      flex: 0 0 100%;
      text-align: left;
    }

    &--input,
    &--textarea {
      flex: 1;
      background: transparent;
      padding: 5px 10px;
      min-height: 30px;
      border: none;
      border: 1px solid;
      border-color: var(--color-grey-border);
      outline: none;
      font-family: var(--secondary-font);

      &::placeholder {
        font-family: var(--secondary-font);
        font-size: 15px;
        line-height: 1.6;
        letter-spacing: 1;
      }

      &:focus {
        box-shadow: var(--shadow-light);
        outline: none;
        border-color: var(--color-primary);
      }
    }

    &--textarea {
      min-height: 50px;
      padding: 5px 10px;
    }
  }

  &__editor {
    justify-content: flex-start;
    width: 100%;

    &--controller {
      flex: 1;
      margin: 10px 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      padding-bottom: 10px;
    }

    &--img {
      height: 400px;
      width: 100%;
      overflow: hidden;
      flex: 1;
      border: 5px solid;
      border-color: var(--color-primary);
      transition: all 0.3s ease-in;
      cursor: pointer;

      &:hover {
        border-color: var(--color-primary-light);
      }
    }

    &--title {
      padding: 0 0 5px;
      margin: 0;
      font-family: var(--primary-font);
      color: var(--color-main);
      font-size: 15px;
      flex: 0 0 100%;
      text-align: left;
    }

    &--text {
      padding: 10px 0 0;
      margin: 0;
      font-family: var(--secondary-font);
      color: var(--color-icon);
      font-size: 12px;
      flex: 0 0 100%;
      text-align: left;
    }

    &--input,
    &--textarea,
    &--textarea--small {
      flex: 1;
      background: transparent;
      padding: 5px 10px;
      min-height: 30px;
      border: none;
      border: 1px solid;
      border-color: var(--color-grey-border);
      outline: none;
      font-family: var(--secondary-font);

      &::placeholder {
        font-family: var(--secondary-font);
        font-size: 15px;
        line-height: 1.6;
        letter-spacing: 1;
      }

      &:focus {
        box-shadow: var(--shadow-light);
        outline: none;
        border-color: var(--color-primary);
      }
    }

    &--textarea {
      min-height: 400px;
      width: 100%;
      padding: 0 !important;

      img {
        max-width: 600px !important;
        width: 100% !important;
        margin: auto !important;
        display: grid !important;
      }
    }

    &--textarea--small {
      min-height: 50px;
      padding: 5px 10px;
    }

    &--tags {
      &--container {
        flex: 0 0 100%;
        display: flex;
        margin: 10px 0 0;
      }

      &--tag {
        display: inline-block;
        padding: 5px 8px;
        border: 1px solid;
        border-color: var(--color-grey-border);
        box-shadow: var(--shadow-light);
        border-radius: 3px;
        margin: 0 5px 0 0;
        font-family: var(--secondary-font);
        color: var(--color-light);
        font-size: 12px;
        background: #fff;
        transition: all 0.3s;
        color: var(--color-main);
        cursor: pointer;

        &:hover {
          background: var(--color-light);
          color: #fff;
          border-color: var(--color-light);
        }
      }
    }
  }

  &__create--list {
    justify-content: flex-start;
    // width: 100%;
    background: #fff;
    padding: 20px 30px;

    &--primary {
      
      &-enter {
        transform: translateY(-100px) scaleY(.7);

        opacity: 0;
        max-height: 0;
      }

      &-enter-active {
        height:auto;
        max-height:600px;
        transition: all .3s ease-out;
        opacity: 1;
        transform: translateY(0) scaleY(1);
      }

      &-exit {
        height: auto;
        max-height: 600px;
        opacity: 1;
        transform: translateY(50px) scaleY(1);

      }

      &-exit-active {
        max-height: 0;
        transition: all .05s;
        opacity: 0;
        transform: translateY(-100px) scaleY(.7);
      }
    }

    &--controller {
      flex: 1;
      margin: 10px 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      padding-bottom: 10px;
    }

    &--title {
      padding: 0 0 5px;
      margin: 0;
      font-family: var(--primary-font);
      color: var(--color-main);
      font-size: 15px;
      flex: 0 0 100%;
      text-align: left;
    }

    &--input {
      flex: 1;
      background: transparent;
      padding: 5px 10px;
      min-height: 30px;
      border: none;
      border: 1px solid;
      border-color: var(--color-grey-border);
      outline: none;
      font-family: var(--secondary-font);

      &::placeholder {
        font-family: var(--secondary-font);
        font-size: 15px;
        line-height: 1.6;
        letter-spacing: 1;
      }

      &:focus {
        box-shadow: var(--shadow-light);
        outline: none;
        border-color: var(--color-primary);
      }
    }

    &--text {
      padding: 10px 0 0;
      margin: 0;
      font-family: var(--secondary-font);
      color: var(--color-icon);
      font-size: 12px;
      flex: 0 0 100%;
      text-align: left;
    }

    &--toggle {
      appearance: none;
      box-sizing: border-box;
      cursor: pointer;
      height: 32px;
      width: 52px;
      border-radius: 16px;
      display: inline-block;
      position: relative;
      margin: 0;
      border: 2px solid;
      border-color: var(--color-main);
      background: linear-gradient(180deg, #2d2f39 0%, #1f2027 100%);
      transition: all 0.2s ease;

      &:focus {
        outline: 0;
      }

      &::after {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: white;
        box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
        transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
      }

      &:checked {
        border-color: var(--color-primary);
        background: linear-gradient(
          180deg,
          var(--color-primary) 0%,
          var(--color-primary) 100%
        );

        &::after {
          transform: translatex(20px);
        }
      }
    }
  }

  &__break {
    border-bottom: 2px solid;
    border-bottom-color: var(--color-main);
    padding: 30px 0;
    width: 100%;
  }

  &__head {
    width: 100%;
    padding: 20px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
  }

  &__controller {
    flex: 1;
    margin: 20px 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__input {
    flex: 1;
    background: transparent;
    padding: 10px 0;
    border: none;
    border-bottom: 1.5px solid;
    border-bottom-color: var(--color-white);
    margin: 0 40px;

    &::placeholder {
      margin: 10px;
      font-family: var(--secondary-font);
      color: var(--color-white);
      font-size: 15px;
      line-height: 1.6;
      letter-spacing: 1;
    }
  }

  &__icon {
    color: var(--color-primary);
  }

  &__link {
    margin-left: 40px;
    color: var(--color-white);
  }

  &__checkbox {
    margin-left: 40px;
  }

  &__terms {
    padding: 0;
    margin: 0;
    font-family: var(--secondary-font);
    color: var(--color-white);
    font-size: 12px;
    margin: 0 40px 0 10px;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 0.8;
  }

  &__btn {
    height: 50px;
    width: 200px;
    border-radius: 50px;
    margin: 20px auto;
    background: var(--color-white);
    box-shadow: var(--shadow-light);
    border: none;
    cursor: pointer;
    font-family: var(--secondary-font);
    font-size: 18px;

    &--login {
      color: var(--color-secondary);
    }

    &--signup {
      color: var(--color-third);
    }
  }
}
