.heading {
    &__primary,
    &__secondary {
      font-family: var(--primary-font);
    }
  
    &__primary,
    &__secondary,
    &__tertiary {
      margin-bottom: 20px;
      margin-top: 8px;
      word-spacing: 5px;
      animation: animationFrames 1s;
      line-height: 1;
      transition: all 0.3s;
    }
  
    &__article {
      font-size: 50px !important;
      text-align: center;
      text-transform: capitalize;
    }
  
    &__center {
    }
  }
  
  .paragraph {
    &__text {
    }
  
    &__light {
    }
  }
  
  h1,
  h2,
  h3 {
    &__primary,
    &__secondary {
      font-family: var(--primary-font);
    }
  }
  
  h1,
  h2,
  h3 {
    margin-bottom: 20px;
    margin-top: 8px;
    word-spacing: 5px;
    animation: animationFrames 1s;
    line-height: 1;
    transition: all 0.3s;
  }
  
  p {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: var(--secondary-font);
    color: var(--color-main);
    line-height: 1.6;
    animation-fill-mode: both;
    font-weight: lighter;
  }
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 740px) {
    h1 {
      font-size: 20px !important;
    }
  
    h2 {
      font-size: 18px !important;
    }
  
    h3 {
      font-size: 15px !important;
    }
  
    h4 {
      font-size: 12px;
    }
  
    h6 {
      font-size: 9px !important;
    }
  }
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 1024px) {
    h1 {
      font-size: 20px !important;
    }
  
    h2 {
      font-size: 18px !important;
    }
  
    h3 {
      font-size: 15px !important;
    }
  
    h4 {
      font-size: 12px !important;
    }
  
    h6 {
      font-size: 9px !important;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 25px !important;
    }
  
    h2 {
      font-size: 20px !important;
    }
  
    h3 {
      font-size: 18px !important;
    }
  
    h4 {
      font-size: 15px !important;
    }
  
    h6 {
      font-size: 11px !important;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    h1 {
      font-size: 30px !important;
    }
  
    h2 {
      font-size: 25px !important;
    }
  
    h3 {
      font-size: 20px !important;
    }
  
    h4 {
      font-size: 15px !important;
    }
  
    h6 {
      font-size: 11px !important;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    h1 {
      font-size: 40px !important;
    }
  
    h2 {
      font-size: 25px;
    }
  
    h3 {
      font-size: 20px;
    }
  
    h4 {
      font-size: 15px;
    }
  
    h6 {
      font-size: 11px;
    }
  }
  