@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Montserrat|Spartan&display=swap');

:root {
    --font-default: 16px;
    --font-primary: 16px;
    --font-nav: 14px;

    // Colours
    --color-main: #1b1d1f;
    --color-light: #a9a8a8;
    --color-black: #000;
    --color-white: #fff;
    --color-icon: #adaeae;

    --color-primary: #0058a2;
    --color-primary-light: #2d7fc2;
    --color-primary-dark: #034275;

    --color-secondary: #e1bb00;
    --color-secondary-light: #f7da4d;
    --color-secondary-dark: #ceac06;

    --color-third: #01ab5d;
    --color-third-light: #1ed47f;
    --color-third-dark: #018648;

    --color-warn: #ff6b6b;
    --color-warn-light: #ffa9a9;
    --color-warn-dark: #ee2929;

    --color-grey-border: #f1f1f1;
    --color-grey-light: rgb(250, 250, 250);

    --shadow-light: 0px 3px 9px -2px rgba(0, 0, 0, 0.05);
    --shadow-dark: 0px 3px 9px -2px rgba(0, 0, 0, 0.15);
    --shadow-very-dark: 0px 3px 9px -2px rgba(0, 0, 0, 0.35); 

    --border: 1px solid #e0e0e0;

    --primary-font: 'Archivo Black';
    --secondary-font: 'Spartan';
    --tertiary-font: 'Montserrat';
}